/**@import "ember-bootstrap/bootstrap";*/

html, body{
  margin :0;
  padding: 0;
}

body{
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
}

#odo-header {
  background-color: rgba(39,137,216,.95);
  border : 0;

  #logo {
    color: white;
  }
}

.header{font-weight: bold;}
.odo-panel {margin-bottom: 25px;}
.disqus{margin-top:125px;}
.message{font-weight: bold;}
.none{display: none;}
// .grey-line{border-bottom: 1px solid #ddd;}//3px solid #cacdd0;

#paint-bleach {
  img,canvas {
    vertical-align : baseline;//make it none
    min-width:300px;
    min-height:300px;
    max-width: 100%;
  }

  div.prop {
    width:100%;
    padding-top:5px;
    border-top: 3px solid #cacdd0;

    * {
      margin-right: 5px;
    }

    input[type="range"]{
      display: inline;
      width:40%;
      min-width: 142px;
      max-width: 250px;
      vertical-align: middle;
    }

    .btn{
      float:right;
    }
  }
}

#blank-converter{

  textarea {
    resize: none;
  }

  .editor{
    width: 100%;
    height: 500px;
    padding: 5px 10px;
  }

  #blank-editor {
    border: 1px solid #cacdd0;
    border-radius: 5px;
    // white-space:pre-line;// indent disabled
    // white-space:pre; // overflowed width doesn't cut automatically
    white-space:pre-wrap;
    overflow-y: auto;

    span{
      text-decoration: underline;
    }

    span:hover {
      cursor: pointer;
      background-color: pink;
    }
  }
}

#word-worksheet{
  margin: 15px 0px 30px;

  .tab-content{
    border-bottom: 1px solid #ddd;//3px solid #cacdd0;
    min-height: 400px;
    padding: 10px 10px;
  }

  .header{
    font-weight: bold;
    margin: 5px 0px;
  }

  .buttons{
    padding: 5px 10px;
    margin: 10px 0px;
    text-align: right;
  }

  div.qz-block{
    border-bottom: 1px solid #cacdd0;
  }

  #word-scramble{

    .scramble{
      display: flex;

      div{
        flex:inherit;
        padding: 5px 20px;
        margin:5px 0px;
      }

    }

    .scramble:nth-of-type(even){
      background-color: rgba(225, 225, 232,0.1);
    }

  }

  #word-matchup{
    .matchup{
      display: flex;

      div{
        flex:inherit;
        padding: 5px 20px;
        margin:5px 0px;
      }

      .dot-out{
        display: list-item;
      }

      .dot-in{
        display: list-item;
        list-style-position: inside;
      }
    }
  }


}

#word-input {

  padding: 20px 0px;
  // background-color: rgba(39,137,216,.10);
  border-radius: 5px;

  ul{
    padding-left: 0px;

    li {
      list-style-type: none;
      padding-bottom: 5px;

      * {
        margin-left: 1.5%;
      }

      .input-quiz {
        display: inline-block;
        padding : 6px 10px;
        width: 43%;

        &.input-quiz-a{
          width: 32%;
        }

        &.input-quiz-b{
          width: 55%;
        }
      }

      input.input-quiz{
        border: 1px solid #CFD7E6;
        border-radius: 4px;
      }

      span.glyphicon{
        cursor: pointer;
      }
    }//li

    li.input-item{
      background-color: rgba(39,137,216,.04);
      border-bottom: 1px solid #ddd;
      border-radius: 3px;
    }
  }

}

@media print{
  body * {
    visibility: hidden;
    position: absolute;
    top: 0px; right: 0px;
    width:100%;
  }

  .printing {
    visibility: visible;
    position: absolute;
    top:20px; left:0px;
  }
  .printing * {
    visibility: visible;
    position: static;
  }

  #blank-editor {
    border:none !important;
    border-top: 1px solid black !important;
    overflow-y: visible !important;

    span {
      text-decoration: none !important;
    }
  }

}

@media print {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
